$green : #40c980;
$blue : #007acc;
$black : #1e1e1e;
$light-gray : #929293;
$orange : #c97e5a;
$yellow : #e5e510;
$red : #ff6058;



$color1: #007bff; //primery color
$color2 : #0c243e;
$color3: #F2F7FF; //input color
$color4 : #888888 //small text color
