<section class="landing-container">
    <div class="logo-container">
      <!-- <img src="../../../assets/img/logo.jpeg" alt="Logo"> -->
    </div>
    <div class="des">
        <div class="app-description">
          <p>Welcome to (app name)</p>
          <p> The place where you can check on your next home</p>
        </div>
        <div class="buttons-container">
          <button class="btn btn-primary" (click)="goTo('login')">Login</button>
          <button class="btn btn-secondary" (click)="goTo('register')">Register</button>
        </div>
    </div>
  </section>
  