

<section class="terms-container">
  <div class="terms-content">
    <div class="text-container">
      <div class="title center">
        <p class="terms-headline">תנאי שימוש</p>
      </div>
  
      <div class="text">
       <p class="text-underline">1. העלאת תוכן על ידי המשתמש
      </p>
       <p>1.1. הסכם שכירות אימות זהות:
        המשתמשים נדרשים להעלות העתק של ההסכם השכירות שלהם ואימות זהות תקף לצורך אימות. מידע זה מאוחסן בצורה מאובטחת בבסיס הנתונים שלנו ונמחק לאחר אימות.</p>
       <p>1.2. תמונות:
        משתמשים רשאים להעלות תמונות של הדירה ששכרו בעבר. על ידי העלאת תמונות, אתם מסכימים לשימוש באתר ותצוגה של התמונות.
        1.3. תוכן שנוצר על ידי המשתמש:
        המשתמשים רשאים לשלב דעות בחוות הדעת על הדירה שהם שכרו, כולל פרטים על הנכס, האזור וכל מידע רלוונטי נוסף. תוכן זה יכול להיבדק על ידי מנהלי האתר.</p>
       <p class="text-underline">2. אישור מנהלים</p>
       <p>2.1. סקירת התוכן:
        מנהלי האתר יבצעו בדיקה של תוכן שנוצר על ידי המשתמשים כדי לוודא שהוא עומד בהנחיות האתר שלנו. תוכן שמכיל שפה לא נאותה, תוכן פוגעני או שאינו מספק ביקורת בונה לא ייאשר.</p>
       <p>2.2. שיקול דעתו של המנהל:
        המנהלים שומרים על הזכות לפעול בשיקול דעתם באישור או דחיה של תוכן שנוצר על ידי המשתמשים.</p>
       <p class="text-underline">3. אחריות המשתמש</p>
       <p>3.1. מדיניות אמינות ותכונה:
        המשתמשים אחראים לספק מידע נכון ואמין בפוסטים שלהם. מידע מטעה או שקרי אסור בצורה מוחלטת.</p>
      </div>
      
       

       <div class="space">
        
       </div>
    </div>

  </div>
  
  
</section>

