<div class="mobile-menu">
    <button class="menu-btn"  routerLink="/home">
        <img src="../../../assets/icons/home.png" alt="">
        <p>home</p>
    </button>
    <button class="menu-btn" routerLink="/personalInfo">
        <img src="../../../assets/icons/user.png" alt="">
        <p>personal</p>
    </button>
    <button class="menu-btn" routerLink="/myposts">
        <img src="../../../assets/icons/write.png" alt="">
        <p>myposts</p>
    </button>
    <button routerLink="/terms">
        <img src="../../../assets/icons/clipboard.png" alt="">
        <p>terms</p>
    </button>
    <button class="menu-btn" routerLink="/about">
        <img src="../../../assets/icons/more.png" alt="">
        <p>more</p>
        <!-- maby add language-switcher -->
    </button>
  </div>