<!-- <div *ngIf="postForm" [formGroup]="postForm">


<div *ngIf="status === 2">
    <div>
      <label for="post_city">City</label>
      <input type="text" id="post_city" formControlName="post_city" />
    </div>
    <div>
      <label for="post_street">Street</label>
      <input type="text" id="post_street" formControlName="post_street" />
    </div>
    <div>
      <label for="post_building_number">House Number</label>
      <input type="text" id="post_building_number" formControlName="post_building_number" />
    </div>
    <div>
      <label for="post_apartment_number">Apartment Number</label>
      <input type="text" id="post_apartment_number" formControlName="post_apartment_number" />
    </div>
  </div>
  
  <div *ngIf="status === 3">
   
    <div>
      <label for="post_rent_start">Entry Date</label>
      <input type="text" id="post_rent_start" formControlName="post_rent_start" />
    </div>
    <div>
      <label for="post_rent_end">Exit Date</label>
      <input type="text" id="exipost_rent_endtDate" formControlName="post_rent_end" />
    </div>
  </div>
  
  <div *ngIf="status === 4">
    <div>
      <label for="rent_agreement">Lease Field</label>
      <input type="text" id="rent_agreement" formControlName="rent_agreement" />
    </div>
  </div>
  
  <div *ngIf="status === 5">
    <div>
      <label for="driving_license">ID Card Field</label>
      <input type="text" id="driving_license" formControlName="driving_license" />
    </div>
  </div>
  
  <div *ngIf="status === 6">
    <a [routerLink]="['/post-details',  this.currPost.post_id]">Go to another location</a>

  </div>

  </div>
  
  <button type="button" (click)="submitForm()" [disabled]="!enableButton">Update</button>
   -->

<!-- 
   <div *ngIf="postForm" [formGroup]="postForm" class="post-details-container">

    <div class="form-section" *ngIf="status === 2">
      <label class="form-section-title">Address Details</label>
      <div>
        <label for="post_city">City</label>
        <input type="text" id="post_city" formControlName="post_city" />
      </div>
      <div>
        <label for="post_street">Street</label>
        <input type="text" id="post_street" formControlName="post_street" />
      </div>
      <div>
        <label for="post_building_number">House Number</label>
        <input type="text" id="post_building_number" formControlName="post_building_number" />
      </div>
      <div>
        <label for="post_apartment_number">Apartment Number</label>
        <input type="text" id="post_apartment_number" formControlName="post_apartment_number" />
      </div>
    </div>
    
    <div class="form-section" *ngIf="status === 3">
      <label class="form-section-title">Rental Dates</label>
      <div>
        <label for="post_rent_start">Entry Date</label>
        <input type="text" id="post_rent_start" formControlName="post_rent_start" />
      </div>
      <div>
        <label for="post_rent_end">Exit Date</label>
        <input type="text" id="exipost_rent_endtDate" formControlName="post_rent_end" />
      </div>
    </div>
    
    <div class="form-section" *ngIf="status === 4">
      <label class="form-section-title">Lease Information</label>
      <div>
        <label for="rent_agreement">Lease Field</label>
        <input type="text" id="rent_agreement" formControlName="rent_agreement" />
      </div>
    </div>
    
    <div class="form-section" *ngIf="status === 5">
      <label class="form-section-title">ID Card Information</label>
      <div>
        <label for="driving_license">ID Card Field</label>
        <input type="text" id="driving_license" formControlName="driving_license" />
      </div>
    </div>
    
    <div class="form-section" *ngIf="status === 6">
      <a [routerLink]="['/post-details',  this.currPost.post_id]">Go to another location</a>
    </div>
  

    <button type="button" (click)="submitForm()" [disabled]="!enableButton">Update</button>

  </div> -->
  
  
  <div *ngIf="postForm" [formGroup]="postForm" class="post-details-container">

    <div class="form-section" *ngIf="status === 2">
      <label class="form-section-title">כתובת:</label>
      <div class="form-row">
        <label for="post_city">עיר:</label>
        <input type="text" id="post_city" formControlName="post_city" />
      </div>
      <div class="form-row">
        <label for="post_street">רחוב:</label>
        <input type="text" id="post_street" formControlName="post_street" />
      </div>
      <div class="form-row">
        <label for="post_building_number">מספר בניין:</label>
        <input type="text" id="post_building_number" formControlName="post_building_number" />
      </div>
      <div class="form-row">
        <label for="post_apartment_number">מספר דירה:</label>
        <input type="text" id="post_apartment_number" formControlName="post_apartment_number" />
      </div>
    </div>
    
    <div class="form-section" *ngIf="status === 3">
      <label class="form-section-title">תאריכי שכירות</label>
      <div class="form-row">
        <label for="post_rent_start">תאריך כניסה</label>
        <input type="date" id="post_rent_start" formControlName="post_rent_start" />
      </div>
      <div class="form-row">
        <label for="post_rent_end">תאריך יציאה</label>
        <input type="date" id="exipost_rent_endtDate" formControlName="post_rent_end" />
      </div>
    </div>
    
    <div class="form-section" *ngIf="status === 4">
      <label class="form-section-title">פרטי חוזה:</label>
      <div class="form-row">
        <label for="rent_agreement">חוזה:</label>
        <!-- <input type="file" id="rent_agreement" formControlName="rent_agreement" /> -->

        <input
        type="file"
        #rent_agreement
        (change)="
        onImageSelectedStep(
            $event,
            'rent_agreement'
          )
        "
        class="file-input"
        id="file-rent_agreement"
      />
      
      </div>
    </div>
    
    <!-- <div class="form-section" *ngIf="status === 5">
      <label class="form-section-title">פרטי זהות:</label>
      <div class="form-row">
        <label for="driving_license">תעודת זהות</label>
        <input type="file" id="driving_license" formControlName="driving_license" />
      </div>
    </div> -->

    <div class="form-section" *ngIf="status === 5">
      <label for="driving_license"></label>
      
      <input
        type="file"
        #drivinglicense
        (change)="
        onImageSelectedStep(
            $event,
            'driving_license'
          )
        "
        class="file-input"
        id="file-driving_license"
      />
      <label class="custom-upload-button" for="file-driving_license">
        Upload
      </label>
     
    </div>
    
    <div class="form-section" *ngIf="status === 6">
      <a [routerLink]="['/post-details',  this.currPost.post_id]">Go to another location</a>
    </div>
  
    <button type="button" (click)="submitForm()" [disabled]="!enableButton">Update</button>

  </div>
  
  <app-modal
  [needAprove]="this.needApproval"
  [aprovelText]="this.aprovelText"
  [img]="this.modalImg"
  [text]="this.modalText"
  [serverResponse]="this.serverResponse"
  [(isHid)]="isHidden"
  (isHidChange)="onModalClosed($event)"
  (isApproved)="onAprovel($event)"
></app-modal>