.apartment-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 100vh;
    // background-color: #f2f2f2;
  }
  
  .apartment-details {
    max-width: 500px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .detail-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  
    label {
      font-weight: bold;
      margin-right: 10px;
      flex-basis: 150px;
    }
  
    p {
      margin: 0;
    }

    img{
      height: 150px;
      width: auto;
    }
  }
  