<!-- <p>apartment-details works!</p> -->
<!-- <section class="apartment-details-container">
  <p>Apartment Details</p>
  <div class="apartment-details">
    <div class="detail-row">
      <label>City:</label>
      <p>{{ apartment?.post_city }}</p>
    </div>
    <div class="detail-row">
      <label>Street Name:</label>
      <p>{{ apartment?.post_street }}</p>
    </div>
    <div class="detail-row">
      <label>Apartment Number:</label>
      <p>{{ apartment?.post_apartment_number }}</p>
    </div>
    <div class="detail-row">
      <label>Price of Apartment:</label>
      <p>{{ apartment?.post_apartment_price }}</p>
    </div>
    <div class="detail-row">
      <label>Entry Date:</label>
      <p>{{ apartment?.post_rent_start }}</p>
    </div>
    <div class="detail-row">
      <label>Release Date:</label>
      <p>{{ apartment?.post_rent_end }}</p>
    </div>
    <div class="detail-row">
      <label>Description:</label>
      <p>{{ apartment?.post_description }}</p>
    </div>


    <div class="detail-row">
      <label>pics:</label>
     <p>{{ apartment?.apartment_pic_1 }}</p> -->
<!-- <img src="{{ apartment?.apartment_pic_1 }}" alt=""> -->
<!-- </div> -->

<!-- Add more fields as needed -->
<!-- </div> -->
<!-- </section> -->






<!-- 

<section class="apartment-details-container">
  <div class="apartment-details-contant">
    <div class="apartment-details">
      <div class="detail-row">
        <label>{{ "post_details_page_city_txt" | translate }}:</label>
        <p>{{ apartment?.post_city }}</p>
      </div>
      <div class="detail-row">
        <label>{{ "post_details_page_street_txt" | translate }}:</label>
        <p>{{ apartment?.post_street }}</p>
      </div>
      <div class="detail-row">
        <label>{{ "post_details_page_building_txt" | translate }}:</label>
        <p>{{ apartment?.post_building_number }}</p>
      </div>
      <div class="detail-row">
        <label
          >{{ "post_details_page_apartment_number_txt" | translate }}:</label
        >
        <p>{{ apartment?.post_apartment_number }}</p>
      </div>
      <div class="detail-row">
        <label>{{ "post_details_page_rent_price_txt" | translate }}:</label>
        <p>{{ apartment?.post_apartment_price }}</p>
      </div>
      <div class="detail-row">
        <label>{{ "post_details_page_entry_date_txt" | translate }}:</label>
        <p>{{ apartment?.post_rent_start }}</p>
      </div>
      <div class="detail-row">
        <label>{{ "post_details_page_exit_date_txt" | translate }}:</label>
        <p>{{ apartment?.post_rent_end }}</p>
      </div>
      <div class="detail-row">
        <label>{{ "post_details_page_rental_review_txt" | translate }}:</label>
        <p>{{ apartment?.post_description }}</p>
      </div>

      <div class="detail-row">
        <carousel [isAnimated]="true">
          <slide>
            <img
              src="{{ apartment?.apartment_pic_1 }}"
              alt="first slide"
              style="display: block; width: 100%"
            />
          </slide>
          <slide *ngIf="apartment?.apartment_pic_2">
            <img
              src="{{ apartment?.apartment_pic_2 }}"
              alt="second slide"
              style="display: block; width: 100%"
            />
          </slide>
          <slide *ngIf="apartment?.apartment_pic_3">
            <img
              src="{{ apartment?.apartment_pic_3 }}"
              alt="third slide"
              style="display: block; width: 100%"
            />
          </slide>
          <slide *ngIf="apartment?.apartment_pic_4">
            <img
              src="{{ apartment?.apartment_pic_4 }}"
              alt="third slide"
              style="display: block; width: 100%"
            />
          </slide>
        </carousel>
      </div>
    </div>
  </div>
</section>
<app-nav-bar *ngIf="this.windowWidth <= 567 && isAuthenticated"></app-nav-bar> -->



<section class="apartment-details-container">
  <div class="apartment-details-contant">
      <div class="apartment-card">

        <div class="apartment-card-img">
          <img src="{{ apartment?.apartment_pic_1 }}" alt="" />
        </div>

        <div class="edit-card-details">
          <p class="text">{{ this.apartment.post_city }}</p>
          <p class="text">
            {{ this.apartment.post_street }}
            {{ this.apartment.post_building_number }}
          </p>
          <p class="text">דירה {{ this.apartment.post_apartment_number }}</p>
        </div>

      </div>

      <div class="apartment-date-price">
        <div class="dates">
          <p class="small-text">
            תאריך כניסה לדירה : {{ this.apartment.post_rent_start }}
          </p>
          <p class="small-text">
            תאריך יציאה מהדירה : {{ this.apartment.post_rent_end }}
          </p>
          <p class="small-text">
            שכר דירה : {{ this.apartment.post_apartment_price }}
          </p>
        </div>
      </div>
      

      <div class="apartment-description">

        <p> חוות דעת</p>
        <div class="edit-input">
          <!-- <textarea
            class="input-text"
            id="post_description"
            name="post_description"
            [(ngModel)]="apartment.post_description"
          ></textarea> -->
          <div class="input-text display-text">{{ apartment.post_description }}</div>
      
        </div>
      </div>


      <div class="apartment-btn">
        <p class="small-text">השכרת דירה זו בעבר ?</p>
        <span class="color-text">
          הוסף את החויה שלך
        </span>
      </div>
  
      
        
        <!-- <carousel [isAnimated]="true">
          <slide>
            <img
              src="{{ apartment?.apartment_pic_1 }}"
              alt="first slide"
              style="display: block; width: 100%"
            />
          </slide>
          <slide *ngIf="apartment?.apartment_pic_2">
            <img
              src="{{ apartment?.apartment_pic_2 }}"
              alt="second slide"
              style="display: block; width: 100%"
            />
          </slide>
          <slide *ngIf="apartment?.apartment_pic_3">
            <img
              src="{{ apartment?.apartment_pic_3 }}"
              alt="third slide"
              style="display: block; width: 100%"
            />
          </slide>
          <slide *ngIf="apartment?.apartment_pic_4">
            <img
              src="{{ apartment?.apartment_pic_4 }}"
              alt="third slide"
              style="display: block; width: 100%"
            />
          </slide>
        </carousel> -->
      </div>
      <app-nav-bar *ngIf="this.windowWidth <= 567 && isAuthenticated"></app-nav-bar>
</section>
