<!-- <section class="abut-container">
    <div class="abut-content">
        <p>about works!</p>
    </div>
</section>
<app-nav-bar *ngIf="this.windowWidth <= 567 && isAuthenticated"></app-nav-bar> -->

<section class="about-container">
  <div class="about-content">
    <div class="text-container">
      <div class="title-center">
        <p class="about-headline">ברוכים הבאים ל-Rent Share</p>
      </div>

      <div class="text">
        <!-- <p>הפלטפורמה Rent Share נוצרה מחוויה אישית שהרצון שלה הוא לצמצם את אי הוודאות בתהליך השכרת דירה.</p>
          <p>הסיפור שלנו מתחיל עם חוויה משותפת לא הכי נעימה לאחר שהשכרנו דירה. החוויה הזו הביאה אותנו להבנה שצריך להיות מקום שבו שוכרים, גם כאלו שסיימו חוזה וגם פוטנציאליים, יכולים להתקבץ ולחלוק את החוויות שלהם על אותה דירה.
        </p>
          <p>לו רק הייתה לנו גישה לפלטפורמה זו בעת השכרת הדירה הראשונה שלנו, כנראה שהייתה נמנעת החוויה הלא נעימה הזו. בדיוק בגלל זה אנו רוצים ליצור מקום שבו אנשים יכולים להתחבר, לשתף ולספק מידע יעיל.</p>
          <p>משמעות המשימה שלנו פשוטה: למזער את האי-ודאות בתהליך השכירות.
            אנו מאמינים שכל שוכר צריך לקבל את ההזדמנות ליהנות ממידע מאנשים אחרים.
            בין אם אתה סיימת חוזה או מחפש חוות דעת בנושא דירה פוטנציאלית, Rent Share כאן כדי להיעזר ולעזור לך.</p>
          <p>מי אנחנו? אנו צוות של חברים ששירתו יחד בצה"ל, כל אחד מביא לקבוצה כישורים ייחודיים. עם רקעים במדעי המחשב ותשוקה משותפת ליצירת פתרונות שימושיים, Rent Share היא פרויקטנו הראשון שאנו מפתחים ביחד.</p>
          <p>פרויקט זה הוא יותר מאתר.
            זו פלטפורמה שנועדה לעזור לאנשים במסעם למציאת דיור הוגן ומושכל.
            אנו מתרגשים לאפשר לכם להצטרף אלינו במשימה לשנות את הגישה לעולם השכירות.</p>
            <p>ברוכים הבאים ל-Rent Share. ברוכים הבאים לחוויית שכירות משופרת.</p> -->

        <p>
          הפלטפורמה המהפכנית לשיתוף חווית השכירות שנוצרה מתוך ניסיון אישי מורכב.
          הפלטפורמה Rent Share מציעה פתרון חדשני לאתגרים בתהליך השכירות.
        </p>
        <p>
          המסע שלנו החל
          מחוויה משותפת ולא נעימה בעת ששכרנו דירה, חוויה אשר הובילה אותנו להבנה עמוקה על
          הצורך במרחב בטוח לשיתוף חוות דעת על דירה ספציפית.
        </p>
        <p>
          אלו היו הרגעים שהפכו
          אותנו למאמינים שכל אדם צריך לקבל גישה למידע חיוני זה, ומכאן נולד
          הרעיון ל-Rent Share.
        </p>
        <p>
          המשימה שלנו היא לפשט את תהליך השכירות ולהפוך אותו לבטוח ושקוף יותר.
        </p>
        <p>
          ב-Rent Share, אנו מאפשרים שיתוף חוויות ומידע בין לקוחות קודמים
          ופוטנציאליים על דירות שונות, כדי להעניק לכל שוכר את ההזדמנות לעשות
          החלטות מושכלות ומודעות.
        </p>
        <p>
          אנו, צוות Rent Share, התגבשנו מחברות עמוקה ושירות משותף בצה"ל. 
        </p>
        <p>
          כל אחד
          מאיתנו מביא לפרויקט זה מגוון כישורים ורקעים מעולם התוכנה, וכולנו
          חולקים תשוקה ליצירת פתרונות שימושיים.
        </p>
        <p>
          Rent Share היא לא רק פלטפורמה,
          היא מהווה את פרויקטנו המשותף הראשון, ואנו גאים להציע אותה לכם.
        </p>
      </div>
    </div>
  </div>
  <div class="space"></div>
  <app-nav-bar></app-nav-bar>
</section>
