<!-- <section *ngIf="this.windowWidth > 567" class="register-container">
  <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
    <h3>{{ "register_form_title" | translate }}</h3>

    <div class="form-group">
      <label for="user_full_name"
        >{{ "register_form_full_name_txt" | translate }}:</label
      >
      <input
        type="text"
        formControlName="user_full_name"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && registerForm.get('user_full_name')?.errors
        }"
        placeholder="Enter Full Name here"
      />
      <div
        *ngIf="submitted && registerForm.get('user_full_name')?.errors"
        class="invalid-feedback"
      >
        <div
          class="required"
          *ngIf="registerForm.get('user_full_name')?.hasError('required')"
        >
          Full Name is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="user_email"
        >{{ "register_form_email_txt" | translate }}:</label
      >
      <input
        type="text"
        formControlName="user_email"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && registerForm.get('user_email')?.errors
        }"
        placeholder="Enter email here"
      />
      <div
        *ngIf="
          submitted && registerForm.get('user_email')?.hasError('required')
        "
        class="invalid-feedback"
      >
        Email is required
      </div>
      <div
        *ngIf="
          submitted &&
          registerForm.get('user_email')?.hasError('email') &&
          !registerForm.get('user_email')?.hasError('required')
        "
        class="invalid-feedback"
      >
        Enter valid email address
      </div>
      <div
        *ngIf="
          submitted && registerForm.get('user_email')?.hasError('serverError')
        "
        class="invalid-feedback"
      ></div>
    </div>

    <div class="form-group">
      <label for="user_phone"
        >{{ "register_form_phone_txt" | translate }}:</label
      >
      <input
        type="text"
        formControlName="user_phone"
        class="form-control"
        [ngClass]="{
          'is-invalid': submitted && registerForm.get('user_phone')?.errors
        }"
        placeholder="Enter Phone here"
      />
      <div
        *ngIf="submitted && registerForm.get('user_phone')?.errors"
        class="invalid-feedback"
      >
        <div
          class="required"
          *ngIf="registerForm.get('user_phone')?.hasError('required')"
        >
          Phone is required
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="user_password"
        >{{ "register_form_password_txt" | translate }}:</label
      >
      <div class="password-input-container">
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="user_password"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && registerForm.get('user_password')?.errors
          }"
          placeholder="Enter Password here"
        />
        <button type="button" (click)="togglePasswordVisibility()">
          <img
            class="showPaasImg"
            [src]="
              showPassword
                ? '../../../assets/img/eye-open.png'
                : '../../../assets/img/eye-close.png'
            "
            alt="{{ showPassword ? 'Hide Password' : 'Show Password' }}"
          />
        </button>
      </div>
      <div
        *ngIf="submitted && registerForm.get('user_password')?.errors"
        class="invalid-feedback"
      >
        <div
          class="required"
          *ngIf="registerForm.get('user_password')?.hasError('required')"
        >
          Password is required
        </div>
        <div *ngIf="registerForm.get('user_password')?.hasError('minlength')">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="user_password_2"
        >{{ "register_form_password_confirm_txt" | translate }}:</label
      >
      <div class="password-input-container">
        <input
          type="{{ showPasswordConfirmation ? 'text' : 'password' }}"
          formControlName="user_password_2"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && registerForm.get('user_password_2')?.errors
          }"
          placeholder="Enter Password here"
        />
        <button type="button" (click)="togglePasswordConfirmationVisibility()">
          <img
            class="showPaasImg"
            [src]="
              showPasswordConfirmation
                ? '../../../assets/img/eye-open.png'
                : '../../../assets/img/eye-close.png'
            "
            alt="{{
              showPasswordConfirmation ? 'Hide Password' : 'Show Password'
            }}"
          />
        </button>
      </div>
      <div
        *ngIf="submitted && registerForm.get('user_password_2')?.errors"
        class="invalid-feedback"
      >
        <div
          class="required"
          *ngIf="registerForm.get('user_password_2')?.hasError('required')"
        >
          Password is required
        </div>
        <div *ngIf="registerForm.get('user_password_2')?.hasError('minlength')">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <div class="error-message" *ngIf="this.errorMessage">
      {{ this.errorMessage }}
    </div>

    <div class="form-group buttons">
      <button [disabled]="loading" class="btn">
        <span *ngIf="loading" class=""></span>
        {{ "register_form_create_account_btn" | translate }}
      </button>

      {{ "register_form_already_have_account_txt" | translate }}

      <button [disabled]="loading" class="btn">
        <span routerLink="/login" class="">
          {{ "register_form_login_btn" | translate }}
        </span>
      </button>
    </div>
  </form>
</section>

<section *ngIf="this.windowWidth <= 567" class="register-mobile">
  <div class="container-mobile">
    <div class="moblie-img">
      <img src="../../../assets/Illustration/Register.svg" alt="" />
    </div>

  <div class="form-mobile">
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
      <div class="form-group">
        <label for="user_full_name"
          >{{ "register_form_full_name_txt" | translate }}:</label
        >
        <input
          type="text"
          formControlName="user_full_name"
          class="form-control"
          [ngClass]="{
            'is-invalid':
              submitted && registerForm.get('user_full_name')?.errors
          }"
          placeholder="Enter Full Name here"
        />
        <div
          *ngIf="submitted && registerForm.get('user_full_name')?.errors"
          class="invalid-feedback"
        >
          <div
            class="required"
            *ngIf="registerForm.get('user_full_name')?.hasError('required')"
          >
            Full Name is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="user_email"
          >{{ "register_form_email_txt" | translate }}:</label
        >
        <input
          type="text"
          formControlName="user_email"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && registerForm.get('user_email')?.errors
          }"
          placeholder="Enter email here"
        />
        <div
          *ngIf="
            submitted && registerForm.get('user_email')?.hasError('required')
          "
          class="invalid-feedback"
        >
          Email is required
        </div>
        <div
          *ngIf="
            submitted &&
            registerForm.get('user_email')?.hasError('email') &&
            !registerForm.get('user_email')?.hasError('required')
          "
          class="invalid-feedback"
        >
          Enter valid email address
        </div>
        <div
          *ngIf="
            submitted && registerForm.get('user_email')?.hasError('serverError')
          "
          class="invalid-feedback"
        ></div>
      </div>

      <div class="form-group">
        <label for="user_phone"
          >{{ "register_form_phone_txt" | translate }}:</label
        >
        <input
          type="text"
          formControlName="user_phone"
          class="form-control"
          [ngClass]="{
            'is-invalid': submitted && registerForm.get('user_phone')?.errors
          }"
          placeholder="Enter Phone here"
        />
        <div
          *ngIf="submitted && registerForm.get('user_phone')?.errors"
          class="invalid-feedback"
        >
          <div
            class="required"
            *ngIf="registerForm.get('user_phone')?.hasError('required')"
          >
            Phone is required
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="user_password"
          >{{ "register_form_password_txt" | translate }}:</label
        >
        <div class="password-input-container">
          <input
            type="{{ showPassword ? 'text' : 'password' }}"
            formControlName="user_password"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.get('user_password')?.errors
            }"
            placeholder="Enter Password here"
          />
          <button type="button" (click)="togglePasswordVisibility()">
            <img
              class="showPaasImg"
              [src]="
                showPassword
                  ? '../../../assets/img/eye-open.png'
                  : '../../../assets/img/eye-close.png'
              "
              alt="{{ showPassword ? 'Hide Password' : 'Show Password' }}"
            />
          </button>
        </div>
        <div
          *ngIf="submitted && registerForm.get('user_password')?.errors"
          class="invalid-feedback"
        >
          <div
            class="required"
            *ngIf="registerForm.get('user_password')?.hasError('required')"
          >
            Password is required
          </div>
          <div *ngIf="registerForm.get('user_password')?.hasError('minlength')">
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="user_password_2"
          >{{ "register_form_password_confirm_txt" | translate }}:</label
        >
        <div class="password-input-container">
          <input
            type="{{ showPasswordConfirmation ? 'text' : 'password' }}"
            formControlName="user_password_2"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.get('user_password_2')?.errors
            }"
            placeholder="Enter Password here"
          />
          <button
            type="button"
            (click)="togglePasswordConfirmationVisibility()"
          >
            <img
              class="showPaasImg"
              [src]="
                showPasswordConfirmation
                  ? '../../../assets/img/eye-open.png'
                  : '../../../assets/img/eye-close.png'
              "
              alt="{{
                showPasswordConfirmation ? 'Hide Password' : 'Show Password'
              }}"
            />
          </button>
        </div>
        <div
          *ngIf="submitted && registerForm.get('user_password_2')?.errors"
          class="invalid-feedback"
        >
          <div
            class="required"
            *ngIf="registerForm.get('user_password_2')?.hasError('required')"
          >
            Password is required
          </div>
          <div
            *ngIf="registerForm.get('user_password_2')?.hasError('minlength')"
          >
            Password must be at least 6 characters
          </div>
        </div>
      </div>

      <div class="error-message" *ngIf="this.errorMessage">
        {{ this.errorMessage }}
      </div>

      <div class="form-group buttons">
        <button [disabled]="loading" class="btn">
          <span *ngIf="loading" class=""></span>
          {{ "register_form_create_account_btn" | translate }}
        </button>

        {{ "register_form_already_have_account_txt" | translate }}

        <button [disabled]="loading" class="btn">
          <span routerLink="/login" class="">
            {{ "register_form_login_btn" | translate }}
          </span>
        </button>
      </div>
    </form>
  </div>
</div>
</section> -->

<section class="register-container">
  <div class="register-contat">
    <div class="title center">צור משתמש</div>
    <div class="form-container">
      <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
        <div class="form-group">
          <label class="small-text" for="user_full_name">*שם מלא</label>
          <input
            type="text"
            formControlName="user_full_name"
            class="form-control"
            [ngClass]="{
              'is-invalid':
                submitted && registerForm.get('user_full_name')?.errors
            }"
          />
          <div
            *ngIf="submitted && registerForm.get('user_full_name')?.errors"
            class="invalid-feedback"
          >
            <div
              class="required"
              *ngIf="registerForm.get('user_full_name')?.hasError('required')"
            >
              שם מלא הוא שדה חובה
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="small-text" for="user_email">*אימייל</label>
          <input
            type="text"
            formControlName="user_email"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && registerForm.get('user_email')?.errors
            }"
          />
          <div
            *ngIf="
              submitted && registerForm.get('user_email')?.hasError('required')
            "
            class="invalid-feedback"
          >
           כתובת אימייל היא שדה חובה
          </div>
          <div
            *ngIf="
              submitted &&
              registerForm.get('user_email')?.hasError('email') &&
              !registerForm.get('user_email')?.hasError('required')
            "
            class="invalid-feedback"
          >
            הכנס כתובת אימייל חוקית
          </div>
          <div
            *ngIf="
              submitted &&
              registerForm.get('user_email')?.hasError('serverError')
            "
            class="invalid-feedback"
          ></div>
        </div>

        <div class="form-group">
          <label class="small-text" for="user_phone">*טלפון נייד</label>
          <input
            type="text"
            formControlName="user_phone"
            class="form-control"
            [ngClass]="{
              'is-invalid': submitted && registerForm.get('user_phone')?.errors
            }"
          />
          <div
            *ngIf="submitted && registerForm.get('user_phone')?.errors"
            class="invalid-feedback"
          >
            <div
              class="required"
              *ngIf="registerForm.get('user_phone')?.hasError('required')"
            >
              מספר טלפון הוא שדה חובה
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="small-text" for="user_password">*סיסמא</label>
          <div class="password-input-container">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              formControlName="user_password"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  submitted && registerForm.get('user_password')?.errors
              }"
            />
            <button type="button" (click)="togglePasswordVisibility()">
              <img
                class="showPaasImg"
                [src]="
                  showPassword
                    ? '../../../assets/img/eye-open.png'
                    : '../../../assets/img/eye-close.png'
                "
                alt="{{ showPassword ? 'Hide Password' : 'Show Password' }}"
              />
            </button>
          </div>
          <div
            *ngIf="submitted && registerForm.get('user_password')?.errors"
            class="invalid-feedback"
          >
            <div
              class="required"
              *ngIf="registerForm.get('user_password')?.hasError('required')"
            >
              סיסמא היא שדה חובה
            </div>
            <div
              *ngIf="registerForm.get('user_password')?.hasError('minlength')"
            >
              הסיסמא חייבת להיות לפחות 6 ספרות
            </div>
          </div>
        </div>

        <div class="form-group">
          <label class="small-text" for="user_password_2">*סיסמא חוזרת</label>
          <div class="password-input-container">
            <input
              type="{{ showPasswordConfirmation ? 'text' : 'password' }}"
              formControlName="user_password_2"
              class="form-control"
              [ngClass]="{
                'is-invalid':
                  submitted && registerForm.get('user_password_2')?.errors
              }"
            />
            <button
              type="button"
              (click)="togglePasswordConfirmationVisibility()"
            >
              <img
                class="showPaasImg"
                [src]="
                  showPasswordConfirmation
                    ? '../../../assets/img/eye-open.png'
                    : '../../../assets/img/eye-close.png'
                "
                alt="{{
                  showPasswordConfirmation ? 'Hide Password' : 'Show Password'
                }}"
              />
            </button>
          </div>
          <div
            *ngIf="submitted && registerForm.get('user_password_2')?.errors"
            class="invalid-feedback"
          >
            <div
              class="required"
              *ngIf="registerForm.get('user_password_2')?.hasError('required')"
            >
            סיסמא חוזרת היא שדה חובה
            </div>
            <div
              *ngIf="registerForm.get('user_password_2')?.hasError('minlength')"
            >
            הסיסמא חייבת להיות לפחות 6 ספרות
            </div>
          </div>
        </div>

        <div class="error-message" *ngIf="this.errorMessage">
          {{ this.errorMessage }}
        </div>

        <div class="checkbox-container">
          <input type="checkbox" id="terms" name="terms" value="terms" />
          <label class="small-text checkbox" for="terms">
            אני מסכים 
            <span routerLink="/terms">לתנאי השימוש</span>
          </label>
        </div>
      </form>
    </div>
    <div class="buttons">
      <button class="btn-large" (click)="onFormSubmit()" >
        הצטרף לקהילה
      </button>

     

      <button [disabled]="loading" class="btn">
        <span routerLink="/login" class="small-text">
         כבר יש לך משתמש ?
         <span class="color-text">התחבר </span>
        </span>
      </button>
    </div>
  </div>
</section>
