

<section class="forgot-password-container">

  <div class="forgot-password-contant">
    
    <div class="text-forget">
      <p class="title">איפוס סיסמא </p>
      <p class="small-text">קוד אישי יישלח אלייך לאימייל</p>
    </div>
    <div class="form-container">
      
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label class="small-text" for="email">*אימייל</label>
          <input
          type="email"
          formControlName="email"
          class="form-control"
          />
          <div
          *ngIf="submitted && forgotPasswordForm.get('email')!.errors"
          class="invalid-feedback"
          ></div>
        </div>
        
        <!-- <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div> -->
    
      </form>
    </div>
    <div class="buttons">
      <button (click)="onSubmit()" [disabled]="!forgotPasswordForm!.valid" class="btn-large" 
      [ngClass]="{
        'btn-large-dis': !forgotPasswordForm!.valid,
        'btn-large ': forgotPasswordForm!.valid,}"
      >
        שלח קוד אישי
      </button>
    </div>
  </div>
</section>

<app-modal
  [needAprove]="this.needApproval"
  [aprovelText]="this.aprovelText"
  [img]="this.modalImg"
  [text]="this.modalText"
  [serverResponse]="this.serverResponse"
  [(isHid)]="isHidden"
  (isHidChange)="onModalClosed($event)"
  (isApproved)="onAprovel($event)"
></app-modal>