@import "../../../app/styles/colors";

.title {
  direction: rtl;
  font-size: 6vw;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
}

.small-title {
  font-size: 5.5vw;
}

.home-container {
  height: 100vh;
  overflow-y: auto;
  padding-top: 2rem;
}

.home-contant {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  height: 100%;
}
.form-container {
  width: 100%;
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // padding-bottom: 1rem;
  padding-top: 1rem;
}

.text {
  direction: rtl;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  padding-top: 1rem;
}

input {
  direction: rtl;
  font-size: 1rem;
  border: none;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 1rem;
  width: 100%;
}

.color-text {
  color: $color1;
  cursor: pointer;
  direction: rtl;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 1rem;
  margin-bottom: 3rem
}

.btn-group {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35dvh;
  padding-top: 3rem;
  justify-content: space-between;
}

.btn-large {
  height: 3em;
  width: 15em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
  margin: 12px;
}

.disabled-btn1 {
  height: 3em;
  width: 15em;
  color: white;
  background-color: $light-gray;
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
  cursor: not-allowed;
  transition: background-color 0.5s ease;
}

.small-text {
  color: $color4;
  direction: rtl;
}

.search-container {
  label {
    direction: rtl;
    font-size: 4vw;
    font-weight: 500;
    color: #888888;
  }
}

.actions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}
