@import "../../../app/styles/colors";

.title {
  direction: rtl;
  font-size: 6vw;
  font-weight: bold;
  line-height: 1.25;
  text-align: center;
}

.small-title {
  font-size: 5.5vw;
}

.home-container {
  height: 100vh;
  overflow-y: auto;
  padding-top: 2rem;
}

.home-contant {
  display: flex;
  flex-direction: column;
  // height: 90dvh;
  padding: 1.5rem;
  height: 100%;
}
.form-container {
  width: 100%; /* Make the form fill the container */
}

.form-item {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.text {
  direction: rtl;
  font-size: 1rem;
  font-weight: 500;
  color: black;
  padding-top: 1rem;
}

input {
  direction: rtl;
  font-size: 1rem;
  border: none;
  padding: 10px;
  background-color: aliceblue;
  border-radius: 1rem;
  width: 100%;
}

.color-text {
  color: $color1;
  cursor: pointer;
  direction: rtl;
  font-size: 1rem;
  font-weight: 500;
  padding-top: 1rem;
}

.btn-group {
  direction: rtl;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 35dvh;
  padding-top: 3rem;
  justify-content: space-between;
}

.btn-large {
  height: 3em;
  width: 15em;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
  margin: 12px;
}

.disabled-btn1 {
  height: 3em;
  width: 15em;
  color: white;
  background-color: $light-gray;
  border: none;
  border-radius: 5px;
  font-size: 1.25em;
  cursor: not-allowed;
  transition: background-color 0.5s ease;
}

.small-text {
  color: $color4;
  direction: rtl;
}

.search-container {
  label {
    direction: rtl;
    font-size: 4vw;
    font-weight: 500;
    color: #888888;
  }
}

.actions {
  // padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.share {
  // padding-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
}

// .greeting{
//   padding-right: 1rem;
// }

// .mat-mdc-form-field {
//   --mat-mdc-form-field-floating-label-scale: 0.75;
//   display: inline-flex;
//   flex-direction: column;
//   text-align: left;
//   width: 100%;
// }

// ::ng-deep .mat-mdc-text-field-wrapper {
//   background-color: $color3;
//   border: none;
//   height: 35px;
//   padding: auto;
// }

// ::ng-deep .mat-mdc-text-field-wrapper {
//   height: 35px;
//   flex: auto;
// }

// ::ng-deep .mat-mdc-form-field-infix {
//   min-height: 3rem;
// }

// ::ng-deep .mat-mdc-text-field-wrapper.mdc-text-field--outlined .mat-mdc-form-field-infix {
//   padding: 0;
// }

// ::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
//   height: 35px;
// }

// ::ng-deep .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input, .mat-mdc-text-field-wrapper .mat-mdc-form-field-input-control {
//   display: flex !important;
//   justify-content: center !important;
//   height: 3.5em !important;
// }

.error-message {
  padding: 0px;
}

// ::ng-deep.mat-mdc-text-field-wrapper::before,
// .mat-mdc-text-field-wrapper::after {
//   border: none !important;
//   content: none !important;
// }

// ::ng-deep.mdc-text-field--outlined {
//   border: none !important;
//   box-shadow: none !important;
// }
