// mat-sidenav-container{
// height: calc(205vh - 115vh);
// }

::ng-deep mat-sidenav-container.default-sidenav-container {
  height: 100vh;
}

::ng-deep mat-sidenav-container.mobile-auth-sidenav-container {
  height: 90vh;
}

.large-screen-content {
  height: 100vh;
}

.small-screen-content {
  height: 90vh;
}



mat-sidenav {
  width: 200px;
  background-color: rgb(238, 238, 238);
}

.rentbuzz-logo {
  height: 160px;
  width: 160px;
  cursor: pointer;
}
