<!-- <app-haeder>
</app-haeder> -->

<!-- <app-haeder [title]="'TLVapp'">
    <ul>
       <li>menu option 1</li>
      <li>menu option 2</li>
      <li>menu option 3</li>
      <li>menu option 4</li>
      <li>menu option 5</li> -->
    <!-- </ul> -->
  <!-- </app-haeder> --> 


  <!-- <mat-toolbar dir="rtl">  -->
    <mat-toolbar> 
    <mat-toolbar-row>
      <button mat-button *ngIf="isAuthenticated" (click)="opened=!opened">
        <mat-icon>menu</mat-icon>
      </button>
      <!-- <h4>RentBuzz</h4> -->
      <img class="rentbuzz-logo" src="../../assets/img/rentbuzz-logo.svg" alt="" (click)="onLogoClicked()">
      <app-language-switcher></app-language-switcher>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-sidenav-container>
<!-- <mat-sidenav-container dir="rtl"> -->
  <mat-sidenav [(opened)]="opened" mode="over">

<mat-list>

  <mat-list-item><a routerLink="/home">{{"menu_page_home_btn"| translate}}</a></mat-list-item>
  <mat-list-item><a routerLink="/personalInfo">{{"menu_page_personal_info_btn"| translate}}</a></mat-list-item>
  <mat-list-item><a routerLink="/myposts">{{"menu_page_my_review_btn"| translate}}</a></mat-list-item>
  <mat-list-item><a routerLink="/about">{{"menu_page_about_btn"| translate}}</a></mat-list-item>
  <mat-list-item><a routerLink="/terms">{{"menu_page_terms_and_conditions_btn"| translate}}</a></mat-list-item>

</mat-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet>
    
    </router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>






    <!-- <app-home></app-home>
    <app-land-page></app-land-page>
    <app-login></app-login>
    <app-register></app-register> -->
    