

<section *ngIf="currentStep === 1" class="password-reset-container">
  <div class="password-resat-contact">
    <div class="text-headline">
      <p class="title">אישור הזדהות</p>
      <p class="small-text">שלחנו לך את הקוד לאימייל</p>
    </div>

    <div class="inputs-container">
      
      <input type="tel" class="box-input" #input1 (input)="onInput(input1, input2)" />
      <input type="tel" class="box-input" #input2 (input)="onInput(input2, input3)" />
      <input type="tel" class="box-input" #input3 (input)="onInput(input3, input4)" />
      <input type="tel" class="box-input" #input4 (input)="onInput(input4, null)" />
    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
    
    <div class="buttons">
      <span class="small-text">
        לא קיבלת את הקוד ?
        <span class="color-text" (click)="sendAgain()">שלח שוב </span>
      </span>


      <div *ngIf="sendCodeAgain" class="success-message">
        {{ sendCodeAgain }}
      </div>

      <button
        [disabled]="loading"
        class="btn-large"
        (click)="verifyCodeAndContinue()"
      >
        <span *ngIf="loading" class="btn-large"></span>
        המשך
      </button>
    </div>
  </div>
</section>

<section *ngIf="currentStep === 2" class="password-reset-container">
  <div class="password-resat-contact">
    <div class="text-headline">
      <p class="title">צור סיסמא חדשה</p>
    </div>

    <div class="">
      <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <div class="label-tooltip">
            <label class="small-text" for="user_password"> *סיסמא</label>
            <div class="pass-tooltip">
              <div class="tooltip-img" (click)="toggleToolTipVisibility()">
                <img src="../../../assets/icons/i.png" alt="" />
              </div>
              <div class="tooltip-container" *ngIf="showPasswordTooltip">
                הסיסמא חייבת להכיל לפחות 6 ספרות כאשר בתוכן אות גדולה אות קטנה
                ומספרים
              </div>
            </div>
          </div>
          <!-- <label class="small-text" for="newPassword">*סיסמא</label> -->

          <div class="password-input-container">
            <input
            class="input"
              type="{{ showPassword ? 'text' : 'password' }}"
              formControlName="newPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && passwordResetForm.get('newPassword')?.errors }"
            />
            <button type="button" (click)="togglePasswordVisibility()">
              <img
                class="showPaasImg"
                [src]="showPassword ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
                alt="{{ showPassword ? 'Hide Password' : 'Show Password' }}"
              />
            </button>
          </div>
        </div>
        <div class="form-group">
          <label class="small-text" for="confirmPassword">*הכנס סיסמא שנית</label>
          <div class="password-input-container">
            <input
            class="input"
              type="{{ showPasswordConfirmation ? 'text' : 'password' }}"
              formControlName="confirmPassword"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && passwordResetForm.get('confirmPassword')?.errors }"
            />
            <button type="button" (click)="togglePasswordConfirmationVisibility()">
              <img
                class="showPaasImg"
                [src]="showPasswordConfirmation ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
                alt="{{ showPasswordConfirmation ? 'Hide Password' : 'Show Password' }}"
              />
            </button>
          </div>
        </div>
      

      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <div *ngIf="successMessage" class="success-message">
        {{ successMessage }}
      </div>

      </form>
    </div>

    <div class="buttons">
      <button
        [disabled]="loading"
        class="btn-large"
        (click)="onSubmit()"
      >
        <span *ngIf="loading" class="btn-large"></span>
        אפס סיסמא
      </button>
    </div>
  </div>
</section>
