<p>rest-password works!</p>
<section class="password-reset-container">
  <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
    <h3>Password Reset</h3>
    <div class="form-group">
      <label for="verificationCode">Verification Code</label>
      <input
        type="text"
        formControlName="verificationCode"
        class="form-control"
        placeholder="Enter verification code"
      />
    </div>


    <!-- <div class="form-group">
      <label for="newPassword">New Password</label>
      <input
        type="password"
        formControlName="newPassword"
        class="form-control"
        placeholder="Enter new password"
      />
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <input
        type="password"
        formControlName="confirmPassword"
        class="form-control"
        placeholder="Confirm new password"
      />
    </div> -->

    <div class="form-group">
      <label for="newPassword">New Password</label>
      <div class="password-input-container">
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="newPassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && passwordResetForm.get('newPassword')?.errors }"
          placeholder="Enter new password"
        />
        <button type="button" (click)="togglePasswordVisibility()">
          <img
            class="showPaasImg"
            [src]="showPassword ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
            alt="{{ showPassword ? 'Hide Password' : 'Show Password' }}"
          />
        </button>
      </div>
    </div>
    <div class="form-group">
      <label for="confirmPassword">Confirm Password</label>
      <div class="password-input-container">
        <input
          type="{{ showPasswordConfirmation ? 'text' : 'password' }}"
          formControlName="confirmPassword"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && passwordResetForm.get('confirmPassword')?.errors }"
          placeholder="Confirm new password"
        />
        <button type="button" (click)="togglePasswordConfirmationVisibility()">
          <img
            class="showPaasImg"
            [src]="showPasswordConfirmation ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
            alt="{{ showPasswordConfirmation ? 'Hide Password' : 'Show Password' }}"
          />
        </button>
      </div>
    </div>


    <div class="form-group">
      <button [disabled]="loading" class="btn">
        <span *ngIf="loading" class=""></span>
        Reset Password
      </button>
    </div>
  </form>
</section>
