@import "../../../app/styles/colors";

.modal-container {
  z-index: 5;
  display: flex;
  position: fixed;
  min-width: 250px;
  height: 20rem;
  max-height: 100dvh;
  background-color: white;
  border-radius: 1rem;

  top: 5%;
  left: 50%;
  transform: translate(-50%, 5%);
  padding:35px;
  grid-gap: 10px;
  transition: display 0.3s;
  flex-direction:column;
  // margin: 10px;
}

.text {
  direction: rtl;
  font-size: 1.25rem;
  font-weight: 500;
  color: $color2;
  text-align: center;
  padding: 3rem 0;
}
// .is-hidden{
//     display: none;
// }

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  z-index: 4;

  transition: opacity 0.3s;
}

.btn-next {
  height: 3.5rem;
  width: 4.5rem;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 1rem;
  font-size: 1.25em;
}

.btn-prev {
  height: 3.5rem;
  width: 4.5rem;
  color: white;
  background-color: $color5;
  border: none;
  border-radius: 1rem;
  font-size: 1.25em;
}

.step-btn {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  display: flex;
}

.close-btn-img {
  background-color: transparent;
  border: none;
  width: 100%;
  display: flex;
  img {
    height: 0.75rem;
  }
}


.step2-modal{
    display: flex;
    flex-direction: column;
}

.step2-img{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    padding: 2rem;
    img{
        height: 6rem;
    }
}

.step2-text{
    direction: rtl;
    font-size: 1.25rem;
    font-weight: 500;
    color: $color2;
    text-align: center;
    // padding: 3rem 0;
}


.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3.5rem;
    img{
        height: 9rem;
    }
}


.response-img{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  img{
      height: 6rem;
  }
}

.response-text{
  direction: rtl;
    font-size: 1.25rem;
    font-weight: 500;
    color: $color2;
    text-align: center;
}