
<section class="switcher-section">
  <div class="switcher-div">
    <img *ngIf="!isEnglishSelected" src="../../../assets//img/israel_icon.png" alt="" />
    <span *ngIf="!isEnglishSelected">Hebrew</span>
  </div>
  <mat-slide-toggle [(ngModel)]="isEnglishSelected" (change)="toggleLanguage()">
  </mat-slide-toggle>
  <div class="switcher-div">
    <span *ngIf="isEnglishSelected">English</span>
    <img *ngIf="isEnglishSelected" src="../../../assets//img/america_icon.png" alt="" />
  </div>
</section>
