
<!-- <section *ngIf="this.windowWidth > 567" class="change-password-container">
  <h3>change your password :</h3>
  <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="user_password">{{"change_password_old_password_txt"| translate}}:</label>
      <input
        type="password"
        id="old_password"
        formControlName="old_password"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="user_password">{{"change_password_new_password_txt"| translate}}:</label>
      <div class="password-input-container">
        <input
          type="{{ showPassword ? 'text' : 'password' }}"
          formControlName="new_password"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && changePassForm.get('new_password')?.errors }"
        />
        <button type="button" (click)="togglePasswordVisibility()">
          <img
            class="showPaasImg"
            [src]="showPassword ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
            alt="{{ showPassword ? 'Hide Password' : 'Show Password' }}"
          />
        </button>
      </div>
    </div>
    <div class="form-group">
      <label for="user_password_2">{{"change_password_confirm_new_password_txt"| translate}}:</label>
      <div class="password-input-container">
        <input
          type="{{ showPasswordConfirmation ? 'text' : 'password' }}"
          formControlName="new_password_confirm"
          class="form-control"
          [ngClass]="{ 'is-invalid': submitted && changePassForm.get('new_password_confirm')?.errors }"
        />
        <button type="button" (click)="togglePasswordConfirmationVisibility()">
          <img
            class="showPaasImg"
            [src]="showPasswordConfirmation ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
            alt="{{ showPasswordConfirmation ? 'Hide Password' : 'Show Password' }}"
          />
        </button>
      </div>
    </div>
    <div class="btn">
      <button [disabled]="loading" type="submit" class="btn">{{"change_password_change_password_btn"| translate}}</button>

    </div>

    <div *ngIf="errorMessage" class="error-message">
      {{ errorMessage }}
    </div>
  </form>
</section> -->



<!-- <section *ngIf="this.windowWidth <= 567" class="change-password-mobile">
  <div div class="change-password-content-mobile">

    <div class="change-password-img">
      <img src="../../../assets/Illustration/change.svg" alt="">
    </div>



    <div class="form-mobile">
      <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
        <div>
          <label for="user_password">{{"change_password_old_password_txt"| translate}}:</label>
          <input
            type="password"
            id="old_password"
            formControlName="old_password"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="user_password">{{"change_password_new_password_txt"| translate}}:</label>
          <div class="password-input-container">
            <input
              type="{{ showPassword ? 'text' : 'password' }}"
              formControlName="new_password"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && changePassForm.get('new_password')?.errors }"
            />
            <button type="button" (click)="togglePasswordVisibility()">
              <img
                class="showPaasImg"
                [src]="showPassword ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
                alt="{{ showPassword ? 'Hide Password' : 'Show Password' }}"
              />
            </button>
          </div>
        </div>
        <div class="form-group">
          <label for="user_password_2">{{"change_password_confirm_new_password_txt"| translate}}:</label>
          <div class="password-input-container">
            <input
              type="{{ showPasswordConfirmation ? 'text' : 'password' }}"
              formControlName="new_password_confirm"
              class="form-control"
              [ngClass]="{ 'is-invalid': submitted && changePassForm.get('new_password_confirm')?.errors }"
            />
            <button type="button" (click)="togglePasswordConfirmationVisibility()">
              <img
                class="showPaasImg"
                [src]="showPasswordConfirmation ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
                alt="{{ showPasswordConfirmation ? 'Hide Password' : 'Show Password' }}"
              />
            </button>
          </div>
        </div>
  
        <div class="change-btn">
          <button [disabled]="loading" type="submit" class="btn">{{"change_password_change_password_btn"| translate}}</button>
    
        </div>
    
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
  
</section>

<app-nav-bar *ngIf="this.windowWidth <= 567  && isAuthenticated"></app-nav-bar> -->



<section class="change-password-container">
  <div div class="change-password-content">

    <div class="change-title">
      <p class="title">צור סיסמא חדשה</p>
    </div>



    <div >
      <form class="form-container" [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
        <div class="change-inputs">
          <div class="form-group">
            <label class="small-text" for="user_password">*סיסמא נוחכית</label>
            <input
              type="password"
              id="old_password"
              formControlName="old_password"
              class="form-control"
            />
          </div>
          <div class="form-group">
            <label class="small-text" for="user_password">*סיסמא חדשה</label>
            <div class="password-input-container">
              <input
                type="{{ showPassword ? 'text' : 'password' }}"
                formControlName="new_password"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && changePassForm.get('new_password')?.errors }"
              />
              <button type="button" (click)="togglePasswordVisibility()">
                <img
                  class="showPaasImg"
                  [src]="showPassword ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
                  alt="{{ showPassword ? 'Hide Password' : 'Show Password' }}"
                />
              </button>
            </div>
          </div>
          <div class="form-group">
            <label class="small-text" for="user_password_2">*חזור על סיסמא חדשה</label>
            <div class="password-input-container">
              <input
                type="{{ showPasswordConfirmation ? 'text' : 'password' }}"
                formControlName="new_password_confirm"
                class="form-control"
                [ngClass]="{ 'is-invalid': submitted && changePassForm.get('new_password_confirm')?.errors }"
              />
              <button type="button" (click)="togglePasswordConfirmationVisibility()">
                <img
                  class="showPaasImg"
                  [src]="showPasswordConfirmation ? '../../../assets/img/eye-open.png' : '../../../assets/img/eye-close.png'"
                  alt="{{ showPasswordConfirmation ? 'Hide Password' : 'Show Password' }}"
                />
              </button>
            </div>
          </div>
        </div>
  
        <div class="change-btn">
          <button [disabled]="loading" type="submit"  [ngClass]="{
            'btn-large-dis': !changePassForm!.valid,
            'btn-large ': changePassForm!.valid,
          }">צור סיסמא</button>
    
        </div>
    
        <div *ngIf="errorMessage" class="error-message">
          {{ errorMessage }}
        </div>
      </form>
    </div>
  </div>
  
</section>

<app-modal
  [needAprove]="this.needApproval"
  [aprovelText]="this.aprovelText"
  [img]="this.modalImg"
  [text]="this.modalText"
  [serverResponse]="this.serverResponse"
  [(isHid)]="isHidden"
  (isHidChange)="onModalClosed($event)"
  (isApproved)="onAprovel($event)"
></app-modal>

<app-nav-bar *ngIf="this.windowWidth <= 567  && isAuthenticated"></app-nav-bar>