<p>chang-password works!</p>
<!-- <section class="personal-container">
  <h3>personal info Form :</h3>
  <form [formGroup]="PersonalForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="user_full_name">First Name :</label>
      <input
        type="text"
        id="user_full_name"
        [(ngModel)]="user.user_full_name"
        formControlName="user_full_name"
        class="form-control"
      />
    </div>

    <div>
      <label for="user_email">Email :</label>
      <input
        type="email"
        id="user_email"
        [(ngModel)]="user.user_email"
        formControlName="user_email"
        class="form-control"
      />
    </div>

    <div>
      <label for="user_phone">Phone :</label>
      <input
        type="string"
        id="user_phone"
        [(ngModel)]="user.user_phone"
        formControlName="user_phone"
        class="form-control"
      />
    </div>

    <div class="btn">
      <button type="submit" class="btn" [disabled]="PersonalForm.invalid">
        update personal info
      </button>
    </div>
  </form>
</section> -->

<section class="change-password-container">
  <h3>change yuor password :</h3>
  <form [formGroup]="changePassForm" (ngSubmit)="onSubmit()">
    <div>
        <label for="user_password">old password :</label>
        <input
          type="password"
          id="old_password"
          formControlName="old_password"
          class="form-control"
        />
      </div>
    <div>
      <label for="user_password">new password :</label>
      <input
        type="password"
        id="user_password"
        formControlName="new_password"
        class="form-control"
      />
    </div>
    <div>
      <label for="user_password_2">comfamtion  :</label>
      <input
        type="password"
        id="user_password_2"
        formControlName="new_password_confirm"
        class="form-control"
      />
    </div>
    <div class="btn">
      <button type="submit" class="btn" >
 update passwordb
      </button>
    </div>
  </form>
</section>

<!-- <pre>{{ formatUser() }}</pre> -->
