
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$TLVapp-primary: mat.define-palette(mat.$indigo-palette);
$TLVapp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$TLVapp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$TLVapp-theme: mat.define-light-theme((
  color: (
    primary: $TLVapp-primary,
    accent: $TLVapp-accent,
    warn: $TLVapp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($TLVapp-theme);

/* You can add global styles to this file, and also import other style files */

// html, body {  }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


// @import '../src/app/styles/colors';
// @import '../src/app/styles/mixins';
// @import '../src/app/styles/virables';
// @import '../src/app/styles/classes';

@import '../src/app/styles/colors';
@import '../src/app/styles/mixins';
@import '../src/app/styles/virables'; 
@import '../src/app/styles/classes';
// @import '@fortawesome/fontawesome-free/css/all.css';

*{
    scroll-behavior: smooth;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}


i{
    cursor: pointer;
}



//popup:
.password-input-container {
  position: relative;
}

.password-input-container input {
  padding-right: 30px; 
}

.password-input-container button {
  position: absolute;
  top: 50%;
  right: 5px; 
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
}

.showPaasImg{
  height: 20px;
  width: 20px;
}


//error 
.error-message{
  color:red;
  font-weight: bold;
}
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";


/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
