<h1>My Posts</h1>
<p>
  User connected: <span>{{ currentUser.user_full_name }}</span>
</p>

<section class="cards-container">
  <div class="card" *ngFor="let apartment of userPosts">
    <img [src]="apartment.apartment_pic_1" alt="Apartment Image" />
    <div class="card-info">
      <h2>{{"my_post_card_city_txt"| translate}}: {{ apartment.post_city }}</h2>
      <p>{{"my_post_card_street_txt"| translate}}: {{ apartment.post_street }}</p>
      <p>{{"post_details_page_building_txt"| translate}}: {{ apartment.post_building_number }}</p>
      <p>{{"my_post_card_apartment_number_txt"| translate}}: {{ apartment.post_apartment_number }}</p>
    </div>
    <div class="divider"></div>

      <div class="custom-chip approval" *ngIf="apartment.proof_image_confirmed">
        {{"my_post_card_approved_txt"| translate}} <mat-icon>done</mat-icon>
      </div>

      <div class="custom-chip pending" *ngIf="!apartment.proof_image_confirmed">
        {{"my_post_card_pending_txt"| translate}} <mat-icon>schedule</mat-icon>
    </div>

    






    <div class="divider"></div>
    <div class="action">
      <button
        (click)="viewApartmentDetails(apartment.post_id)"
        class="btn details"
      >
      {{"my_post_card_more_details_btn"| translate}}
      </button>
      <button
        (click)="deletePost(apartment.post_id, currentUser.user_id)"
        class="btn delet"
      >
      {{"my_post_card_delete_btn"| translate}}
      </button>
      <button
        (click)="editApartmentDetails(apartment.post_id)"
        class="btn comment"
      >
      {{"my_post_card_edit_review_btn"| translate}}
      </button>
    </div>
  </div>
</section>
