.cards-container{
    height: 480px;
    width: 240px;
}
.card {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}
.card img {
    max-width: 100px;
    float: left;
    margin-right: 10px;
}
.card-info {
    float: left;
}
.divider {
    clear: both;
    border-top: 1px solid #ccc;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn {
    margin-top: 10px;
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.details{
    background-color: #007bff;
}

.delet{
    background-color: #ff0000;
   
}

.comment{
    background-color: #24d900;
}

.action{
    display: flex;
    flex-direction: column;
}

.custom-chip {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    margin: 4px;
    border: 1px solid #ccc;
    border-radius: 16px;
    background-color: #f0f0f0;
    color: #333;
    cursor: default;
  }

  .pending{
    background-color: #f0f0f0;

  }

  .approval{
    background-color: yellowgreen;

  }